@model IEnumerable<API.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center mb-5">Quản lý khách hàng</h3>
<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <div class="d-flex flex-grow-1 me-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm">
        <button class="btn btn-outline-secondary ms-2"><i class="fas fa-search"></i></button>
    </div>
    <div class="d-flex align-items-center">
        <label class="me-2">Từ Ngày:</label>
        <input type="date" class="me-2">
        <label class="me-2">Đến Ngày:</label>
        <input type="date" class="me-2">
        <button class="btn btn-warning">Lọc</button>
    </div>
</div>

<div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i></a>
    </div>
</div>
<table class="table table-bordered text-center">
    <thead class="align-top">
        <tr>
            <th>Stt </th>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Số ĐT</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>BirthDay</th>
            <th>Ngày Đăng kí</th>
            <th>Ngày sửa thông tin</th>
            <th>Hạng</th>
            <th>Point</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
    @if (Model != null)
    {
        int index = 1;
        @foreach (var item in Model)
        {
            <tr>
                <td>@index</td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                   <span>(+84)</span>@Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @if (item.Gender == 0)
                    {
                        <span>Nam</span>
                    }
                    else
                    {
                        <span>Nữ</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UdateAt)
                </td>
                <td>
                    @if (item.Point <= 500)
                    {
                        <span>Bạc</span>
                    }
                        else if (item.Point <= 1500)
                        {
                            <span>Vàng</span>
                        }
                        else
                        {
                            <span>Kim Cương</span>
                        }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Point)
                </td>
                <td class="d-flex justify-content-center gap-2">
                    <a asp-action="Edit" asp-route-id="@item.CustomerId" role="button" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CustomerId" role="button" class="btn btn-primary"><i class="bi bi-arrow-bar-right"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CustomerId" role="button" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
                index++;
        }
    }
    </tbody>
</table>